body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1440px;
}

.restaurant-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.restaurant-item img {
    width: 100%;
    height: auto;
    max-width: 280px;
    max-height: 180px;
    min-width: 280px;
    min-height: 180px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}

.restaurant-item h2, .restaurant-item p {
    margin: 5px 0;
}